.AdMessageInput {
    display: flex;
    height: 3rem;
    position: fixed;
}

.AdMessageInput textarea {
    width: 60vw;
    padding: 1rem;

}

.AdMessageInput button {
    height: 4.1rem;
    max-width: 5rem;

}